[submodule "radar-frontend"]
	path = radar-frontend
	url = https://github.com/leo-guinan/radar-frontend.git
[submodule "radar-backend"]
	path = radar-backend
	url = https://github.com/leo-guinan/radar-backend.git
